<h1>New product</h1>

<%= error_messages_for :product %>

<% form_for(:product, :url => smart_url(:cms, :products)) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', smart_url(:cms, :products) %>