<h1>Listing ratings</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>Stars</th>
  </tr>
  
<% for rating in @ratings %>
  <tr>
    <td><%=h rating.comment_id %></td>
    <td><%=h rating.stars %></td>
    <td><%= link_to 'Show', rating_path(rating) %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating_path(rating), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rating', new_rating_path %>