<h1>New rating</h1>

<%= error_messages_for :rating %>

<% form_for(:rating, :url => ratings_path) do |f| %>
  <p>
    <b>Comment</b><br />
    <%= f.text_field :comment_id %>
  </p>

  <p>
    <b>Stars</b><br />
    <%= f.text_field :stars %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ratings_path %>